<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="all">
        <div class="row rall">
            <%- include("./partials/sidebar.ejs") %>
            <div class="col-lg-10">

                <h2>Update Phone</h2>
                <hr>
                <form action="/update/<%= Profile._id%>" method="POST" enctype="multipart/form-data">

                    <table>
                        <tr>
                            <th>Name</th>
                            <td><input type="text" name="name" value="<%= Profile.name%>"></td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td><img src="../uploads/<%= Profile.image %>" alt=""></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><input type="file" name="image" multiple accept="image/*" required></td>
                        </tr>
                        <tr>
                            <th>GitHub</th>
                            <td><input type="text" name="github" value="<%= Profile.github%>"></td>
                        </tr>
                        <tr>
                            <th>Behance</th>
                            <td><input type="text" name="behance" value="<%= Profile.behance%>"></td>
                        </tr>
                    </table>

                    <input type="submit" value="Edit">
                </form>

            </div>
        </div>
    </div>

    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>
